$dark-color: #3D3E3F;
$light-color: #EBF0F1;

html, body {
  min-height: 100%;
}

body {
  background-color: $light-color;
  color: $dark-color;
  font-family: 'Source Sans Pro', sans-serif;
}

.subtext {
  font-size: 0.9em;
  opacity: 0.55;
}

strong {
  font-size: 1.25em;
}

.nav-pills>li {
  margin: 10px;
  font-weight: bold;

  &.active a {
      background-color: $dark-color;

      &:hover, &:active, &:visited {
        background-color: $dark-color;
      }
  }

  & a {
    padding: 10px 30px;
    text-align: center;

    &:hover {
      background-color: #F7F7F7;
    }
  }
}

.jumbotron {
  background: none;
  margin-bottom: 0;
  padding-top: 0px;
  padding-bottom: 25px;
}

.ethereum-logo {
  height: 48px;
  width: auto;
  vertical-align: baseline;
}

.btn {
  font-weight: bolder;
}

.btn-set-contribution {
   width: 100%;
   max-width: 300px;
   height: 3em;
   transform: translate(0, 25%);
   display: table;
   margin: auto;
}

.panel-heading {
  min-height: 43px;
}

.account-selector {
  max-height: 30px;
  vertical-align: middle;
  margin-top: -4px;
}

.recent-winners-box {
  table {
    margin: 0;
  }
  .panel-body {
    padding: 0;

    @media only screen and (min-width : 992px) {
      max-height: 225px;
      overflow-y: scroll;
    }

    td {
      padding: 7px 10px;
    }
  }
}

.wheel-area {
  position: relative;

  #wheel {
    max-width: 100%;
  }

  canvas{position:relative; z-index:1;}

  .wheel-text {
    font-size: 3em;
    text-align: center;
    line-height: 1.6em;

    display: table;
    width: 100%;
    margin: auto;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .current-ether {
      font-size: 2.5em;
      font-weight: bold;
      display: block;
    }

    .percentage {
      opacity: 0.4;
      font-size: 0.6em;
      line-height: 0.25em;
    }
  }
}

rzslider {
 .rz-pointer {
    top: -6px;
    width: 16px;
    height: 16px;
    background-color: $dark-color;

    &:focus {
      outline: none;
    }
  }

  .rz-bubble {
    bottom: 14px;

    &:not(.rz-limit) {
      font-weight: bold;
      font-size: 1.2em;
      bottom: 11px;
    }
  }
}

.info-boxes {
  padding: 0 20px 20px 40px;

  &:after {
    clear: both;
  }
}

.info-box {
  margin: 18px 0px;
  padding: 21px;
  border-radius: 8px;

  header {
    font-size: 1.75em;
    margin-bottom: 5px;
    font-weight: bold;

    .fa {
      margin-right: 8px;
    }
  }
}

@media only screen and (min-width : 992px) {
  .info-box {
    max-width: 60%;
    display: block;
    clear: both;

    &:nth-child(odd) {
      float: left;
      margin-left: 30px;
    }

    &:nth-child(even) {
      float: right;
      margin-right: 30px;
    }
  }
}

rzslider .rz-pointer:after {
  content: none;
}

.not-connected-error {
  min-height: 300px;
}

footer {
  border-top: 1px solid white;
  background-color: $dark-color;
  color: $light-color;
  min-height: 150px;
  padding: 20px;
  width: 100%;
}
